CMakeFiles
/Debug
/HR2.dir
/HR2.sdf
/HR2.sln
/HR2.vcxproj
/HR2.vcxproj.filters
/HR2.vcxproj.user
/ZERO_CHECK.vcxproj
/ZERO_CHECK.vcxproj.filters
/ALL_BUILD.vcxproj
/ALL_BUILD.vcxproj.filters
/cmake_install.cmake
/CMakeCache.txt
/_ReSharper.HR2
